@media screen {
  body {
    display: block;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
  }
}

@media print {
  body {
    /* display: block; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
  }
}
